@model CathRepoCommon.Models.Mix

<div>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">MixDetails</h4>
    </div>


    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MixName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MixName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Binder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Binder)
        </dd>

    </dl>
</div>
