@*@section viewmodelScripts {
    var EditPelletsViewModel = require('ViewModels/EditPelletsViewModel');
    viewModel = new EditPelletsViewModel();
}*@

<script src="~/Scripts/ViewModels/EditPelletsViewModel.js"></script>

<div class="modal-body">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
        <h4 class="modal-title" id="myModalLabel">Edit Pellets</h4>
    </div>
    <input type="hidden" id="mixId" value="@ViewBag.MixId" />
    <table width='100%'>
        <thead>
            <tr>
                <th width='25%'>Mass(g)</th>
                <th width='25%'>Diameter(mm)</th>
                <th width='25%'>Thickness(mm)</th>
                <th width='25%'>Resistance(ohms)</th>
            </tr>
        </thead>
        <tbody id="pelletTable" data-bind='foreach: pellets'>
            <tr>
                <td><input data-bind='value: mass, valueUpdate: "afterkeydown"' /></td>
                <td><input data-bind='value: diameter, valueUpdate: "afterkeydown"' /></td>
                <td><input data-bind='value: thickness, valueUpdate: "afterkeydown"' /></td>
                <td><input data-bind='value: resistance, valueUpdate: "afterkeydown"' /></td>
                <td><a href='#' data-bind='click: $parent.removePellet'>Delete</a></td>
            </tr>
        </tbody>
    </table>

    <button data-bind='click: addPellet'>Add Pellet</button>
    <button data-bind='click: save'>Save</button>
</div>

