@*@using CathRepoCommon.Models*@
@model IEnumerable<CathRepoCommon.Models.Pellet>

<table class ="table">
    <tr>
        <th class="col3">Mass(g)</th>
        <th>Diameter(mm)</th>
        <th>Thickness(mm)</th>
        <th>Resistance(ohms)</th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Mass)</td>
            <td>@Html.DisplayFor(modelItem => item.Diameter)</td>
            <td>@Html.DisplayFor(modelItem => item.Thickness)</td>
            <td>@Html.DisplayFor(modelItem => item.Resistance)</td>
        </tr>
    }
</table>

<style>
    <style>
    .col1 {
        width: 30%;
    }
    .col2 {
        width: 10%;
    }
    .col3 {
        width: 25%;
    }
</style>
</style>